// style.scss
@import "_vars.scss";
@import "_global.scss";
@import "./components/_navbar";
@import "./components/_homeContent";
@import "_ltr";

.pair-form {
  background: #f5f7f8 0% 0% no-repeat padding-box;
  opacity: 1;
  nav {
    direction: $direction;
  }
}

.pair-content {

    .containers {
      direction: $direction;
    
    }
}